* {
	box-sizing: border-box;
}

body {
	font-family: Arial;
	padding: 10px;
	background: #f1f1f1;
}


/*  Untuk Styling Bagian Header  */
.header {
	padding: 30px;
	text-align: center;
	background-color: white;
}

.header h1 {
	font-size: 50px;
}

/* UNTUK Styling Bagian Top-Nav  */
.top-nav {
	overflow: hidden;
	background-color: black;
}

.top-nav a {
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.top-nav a:hover {
	background-color: #DDD;
	color: black;
}

.top-nav .btn-login {
	float: right;
	background-color: green;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}


.top-nav .btn-register {
	float: right;
	background-color: blue;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.top-nav .btn-login:hover {
	background-color: lightgreen;
	color: black;
}

.top-nav .btn-register:hover {
	background-color: lightblue;
	color: black;
}


/* UNTUK STYLE SLIDER */
.slider {
	margin-top: 10px;
/* background-color: blue; */
	width: 100%;
	
}

.slider .img-slider {
	width: 100%;
	height: 500px;
}


/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  background-color: #f1f1f1;
  padding-left: 20px;
}

/* MARQUEEE */
.text-marquee {
	background-color: rgb(122, 122, 122);
	height: 50px;
	width: 100%;
	padding: 20px;
}

.text-marquee marquee {
	color: white;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

.popularposts {
	background-color: #aaa;
	width: 100%;
	padding: 20px;
}

.popularposts:hover {
	background-color: rgb(122, 122, 122);
	width: 100%;
	padding: 20px;
	cursor: pointer;
}

.popularpost {
	background-color: rgb(201, 201, 201);
	width: 100%;
	padding: 20px;
}

.popularpost:hover {
	background-color: rgb(107, 107, 107);
	width: 100%;
	padding: 20px;
	cursor: pointer;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

.carding {
	background-color: white;
    padding: 20px;
    margin-top: 20px;
    height: 344px;
}

.button {
	background-color: #4CAF50;
    border: none;
    color: white;
    padding: 9px 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: -8px -2px;
    cursor: pointer;
    border-radius: 4px;
  }

  .button-follow {
	background-color: #4CAF50;
    border: none;
    color: white;
    padding: 9px 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 12px -2px;
    cursor: pointer;
    border-radius: 4px;
  }

  .button:hover {
	background-color: lightgreen;
	color: black;
    
  }

  .input-form-follow {
	width: 100%;
    border: 1px solid #CCC;
    height: 39px;
    padding: 11px;
    border-radius: 9px;
  }

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}
